* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

@media (mind-width: 768px) {
    h4 {
      font-size: 3em;
    }
}

.callout-text {
  text-align: center;
  max-width: 1140px;
  margin: 20px auto;
}

.testimonial-carousel {
  background-image: url("https://images.unsplash.com/photo-1489347215392-cee3b4f539aa?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 500px;
  position: relative;
  padding: 20px 0px;
  display: flex;

}

.testimonial-carousel .icon-container {
  position: relative;
  padding: 0 5px;
  max-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

@media (min-width: 768px) {
  .testimonial-carousel .icon-container {
    max-width: 50px;
    padding: 0 10px;
  }
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.flex-grid-fourths {
  display: flex;
  justify-content: space-between;
}

.flex-grid-fourths .col {
  width: 23%;
  padding: 50px;
  border: 1px solid white;
}

.testimonial-carousel .icon-container  svg.lnr {
  color: #dadada;
  font-size: 1.6em;
  cursor: pointer;
  transition: color 0.3s linear;
}

@media (min-width: 768px) {
  .testimonial-carousel .icon-container  svg.lnr {
    font-size: 2.6em;
  }
}

.testimonial-carousel .icon-container  svg.lnr:hover {
  color: #fff;
}

.testimonial-carousel p {
  font-family: "Bad Script", cursive;
  font-size: 1em;
}

@media (min-width: 768px) {
  .testimonial-carousel p {
      font-size: 1.4em;
  }
}

.testimonial-items {
  position: relative;
  flex: 1;
  overflow: hidden;
  color: #fff;
}

.testimonial-item {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-item p.testimonial-author {
  font-weight: bold;
  text-align: right;
}

.testimonial-item.first {
  left: 0;
}

.testimonial-item.second {
  left: 100%;
}

.testimonial-item.third {
  left: 200%;
}
