* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: white;
}

@media screen and (min-width: 320px) {
    div.col img {
        width: 110px;
        height: 61.6px;
    }
    
    .flex-grid-fourths .col {
      margin: 0 4px;
      border: 1px solid white;
      display: flex;
      flex: 0 0 110px;
      flex-wrap: wrap;
    }
    
    .callout-text {
      text-align: center;
      max-width: 320px;
      margin: 20px auto;
    }
    
    .testimonial-carousel {
        background-image: url("https://assets.pcmag.com/media/images/437252-netflix-tips.jpg?thumb=y&width=405&height=228");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        height: 500px;
        position: relative;
        padding: 20px 0px;
        display: flex;
    }
    
}


@media screen and (min-width: 768px) {
    
  .testimonial-carousel .icon-container  svg.lnr {
    font-size: 2.6em;
  }
    
  .testimonial-carousel p {
      font-size: 1.4em;
  }
    
  .testimonial-carousel .icon-container {
    max-width: 50px;
    padding: 0 10px;
  }
    
  h4 {
    font-size: 3em;
  }
    
  div.col img {
    width: 220px;
    height: 123.2px;
  }
    
  .flex-grid-fourths .col {
      margin: 0 20px;
      border: 1px solid white;
      display: flex;
      flex: 0 0 220px;
      flex-wrap: wrap;
    }
    
    .testimonial-carousel {
        background-image: url("https://assets.pcmag.com/media/images/437252-netflix-tips.jpg?thumb=y&width=810&height=456");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        height: 500px;
        position: relative;
        padding: 20px 0px;
        display: flex;
    }
    
}

.callout-text {
  text-align: center;
  max-width: 1140px;
  margin: 20px auto;
}

.testimonial-carousel .icon-container {
  position: relative;
  padding: 0 5px;
  max-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}



.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.flex-grid-fourths {
  display: flex;
  justify-content: space-between;
}

.testimonial-carousel .icon-container  svg.lnr {
  color: #dadada;
  font-size: 1.6em;
  cursor: pointer;
  transition: color 0.3s linear;
}

.testimonial-carousel .icon-container  svg.lnr:hover {
  color: #fff;
}

.testimonial-carousel p {
  font-family: "Bad Script", cursive;
  font-size: 1em;
}

.testimonial-items {
  position: relative;
  flex: 1;
  overflow: hidden;
  color: #fff;
}

.testimonial-item {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-item p.testimonial-author {
  font-weight: bold;
  text-align: right;
}

.testimonial-item.first {
  left: 0;
}

.testimonial-item.second {
  left: 100%;
}

.testimonial-item.third {
  left: 200%;
}
